<form>
  <div class="form-group">
    <label>Acquis à greffer</label>
    <select name="item" value="{{item}}">
      {{selectOptions actor.itemsNotGraft selected=item}}
    </select>
  </div>
</form>