<div class="npc_frame-container">
  <div class="frame image-container">
    <img
      class="player-image"
      alt="{{actor.name}}"
      src="{{actor.img}}"
      title="{{actor.name}}"
      {{#if editable}}data-edit="img"{{/if}}
    />
    <a class="hover-icon" data-action="show-image"><i
        class="fa-solid fa-image fa-fw"
      ></i></a>
  </div>
</div>