<div class="roll-data initiative-sidebar" data-item-id="initiative" style="display: flex; flex-direction: row;">
  <a class="roll-initiative">
    <h2>{{localize "SRLabels.Initiative"}}</h2>
  </a>
  <h4 class="initiative-select" style="margin-left:5px;">
    <select name="system.attributes.initiative.statistic">
      {{selectOptions config.SRdomains selected=system.attributes.initiative.statistic}}
    </select>
  </h4>
  <input
    class="initiative-score"
    name="system.attributes.initiative.value"
    value="{{system.attributes.initiative.value}}"
    style="visibility:hidden"
  />
</div>