<form>
  <div class="form-group">
    <label>Type de Pouvoir </label>
    <select name="type" value="{{type}}">
      {{selectOptions config.createPouvoir.esprit selected=type}}
    </select>
  </div>
</form>