<form>
  <div class="form-group">
    <label>Type de Pouvoir</label>
    <select name="type" value="{{type}}">
      {{selectOptions config.createPouvoir.ame selected=type}}
    </select>
  </div>
</form>
{{log this}}