<form>
  <div class="form-group">
    <label>Type de Trihn</label>
    <select name="trihn" value="{{trihn}}">
      {{selectOptions config.createTrihn.type selected=trihn}}
    </select>
  </div>
  <div class="form-group">
    <label>Puissance</label>
    <input type="number" name="puissance" value="0" />
  </div>
</form>